*{
    padding: 0;
    margin: 0;
}
.all-message{
    margin-top: 64px;
    margin-left: 190px;
    margin-right: 190px;
    display: grid;
    gap: 70px;
}
.title-testimonial h4{
font-size: 46px;
display: flex;
justify-content: center;
margin-top: var(--margin-top); 

}
.title-testimonial .sub-title{
    display: flex;
    justify-content: center;
    color: rgb(0,0,0,0.5);
}
.testimonial{
    margin-top: 64px;
    height: 186px; 
}
.testimonial-container{
    display: flex;
    gap: 103px;
}
.name-photo{
    display: flex;
    gap: 15px;
}
.person1 img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.nameofperson h6{
font-size: 25px;
}
.nameofperson p{
font-size: 19px;
color: var(--text-color);
padding-top: 9px;
}
.ratings{
    padding-top: 2px;
    display: flex;
    gap: 10px;
}
.client-message{
    padding-top: 20px;
    padding-right: 58px;
    font-size: 22px;
    color: var(--text-color);
}